{% extends 'base.html.twig' %}

{% block title %}Candidate Form{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="mx-auto col-6">
            <form>
                <div class="row">
                    <div class="col">
                        {% if not candidates.firstname %}
                            <input type="text" class="form-control" placeholder="Prénom">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Prénom" value="{{ candidates.firstname }}">
                    </div>
                    <div class="col">
                        {% if not candidates.lastname %}
                            <input type="text" class="form-control" placeholder="Nom">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Nom" value="{{ candidates.lastname }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if not candidates.phone %}
                            <input type="text" class="form-control" placeholder="Tél">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Tél" value="{{ candidates.phone }}">
                    </div>
                    <div class="col">
                        {% if not candidates.email %}
                            <input type="text" class="form-control" placeholder="Mail">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Mail" value="{{ candidates.email }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if not candidates.city %}
                            <input type="text" class="form-control" placeholder="Ville">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Ville" value="{{ candidates.city }}">
                    </div>
                    <div class="col">
                        {% if not candidates.linkedin %}
                            <input type="text" class="form-control" placeholder="LinkedIn">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="LinkedIn" value="{{ candidates.linkedin }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if candidates.gender == 0 %}
                            <input type="text" class="form-control" placeholder="Genre" value="Homme">
                        {% elseif candidates.gender == 1 %}
                            <input type="text" class="form-control" placeholder="Genre" value="Femme">
                        {% elseif candidates.gender is empty %}
                            <input type="text" class="form-control" placeholder="Genre">
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if candidates.experience.name is empty %}
                            <input type="text" class="form-control" placeholder="Expérience">
                        {% else %}
                            <input type="text" class="form-control" placeholder="Expérience" value="{{ candidates.experience.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
{#                    <div class="col">#}
{#                        {% if candidates.prime is empty %}#}
{#                            <input type="text" class="form-control" placeholder="Montant prime">#}
{#                        {% endif %}#}
{#                            <input type="text" class="form-control" placeholder="Montant prime" value="{{ candidates.prime.prime }}">#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        {% if candidates.domain is empty %}#}
{#                            <input type="text" class="form-control" placeholder="Domaine">#}
{#                        {% endif %}#}
{#                            <input type="text" class="form-control" placeholder="Domaine" value="{{ candidates.domain }}">#}
{#                    </div>#}
                </div>
                <div class="row">
                    <div class="col">
                        {% if not candidates.firstname %}
                            <input type="text" class="form-control" placeholder="Disponibilité">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Disponibilité" value="{{ candidates.firstname }}">
                    </div>
                    <div class="col">
                        {% if not candidates.firstname %}
                            <input type="text" class="form-control" placeholder="Rôle">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Rôle" value="{{ candidates.firstname }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if not candidates.firstname %}
                            <input type="text" class="form-control" placeholder="Mobilité">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Mobilité" value="{{ candidates.firstname }}">
                    </div>
                    <div class="col">
                        {% if not candidates.firstname %}
                            <input type="text" class="form-control" placeholder="Compétences">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Compétences" value="{{ candidates.firstname }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {% if not candidates.firstname %}
                            <input type="text" class="form-control" placeholder="Vendeur">
                        {% endif %}
                            <input type="text" class="form-control" placeholder="Vendeur" value="{{ candidates.firstname }}">
                    </div>
                </div><div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-primary">Créer la fiche candidat</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-danger">Réinitialiser</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-6">
            <img width="100%" src={{ candidates.curiculumVitae }}/>
        </div>

    </div>
</div>
{% endblock %}
