{% extends 'base.html.twig' %}
{% block h1 %} Partages {% endblock %}

{% block content %}
    <div class="container-fluid vstack vstack w-100 ">
        <div class="row gap-4">

                <!-- Left container -->
            <div class="row-col col-3 ">
                <div class="vstack align-items-center m-0 p-0 w-100">
                    <p class="h2 text-dark mb-4 hstack ms-2">Filtres</p>
                    {{ include('SharingBoard/_search.html.twig') }}
                </div>
            </div>

            <!-- Right container-->
            <div class="row-col col-8 col-lg-6 border-start vstack">
                <p class="h2 text-dark mb-4 ms-4">Liste des partages</p>
                <div class="container col-12 d-flex align-items-center flex-column">

                    <!-- Container for result --->
                    {% for consultation in consultations %}
                        <div class="container-fluid d-flex justify-content-center ">
                            <div class="row col-12 mb-4">

                                <div class="container-fluid hstack justify-content-around col-lg-12 col-12 shadow p-2 rounded-4">

                                    {#  Acheteur & Vendeur col #}
                                    <div class="vstack align-items-start gap-4 m-1">
                                        <div class=acheteur-container"">
                                            <p class="text-black m-0 p-0 fs-5">Acheteur :</p>
                                            <p class="text-black m-0 p-0" data-bs-toggle="tooltip" title="Acheteur"> {{ consultation.user.firstname }} {{ consultation.user.lastname }}</p>
                                            <p class="text-muted m-0 p-0" title="e-mail acheteur"> {{ consultation.user.email }}</p>
                                        </div>

                                            <div class="vendeur-container">
                                                <p class="text-black m-0 p-0 fs-5 ">Vendeur :</p>
                                                <p class="text-black  m-0 p-0" data-bs-toggle="tooltip" title="Vendeur"> {{ consultation.candidate.user.firstname }} {{ consultation.candidate.user.lastName }} </p>
                                                <p class="text-muted  m-0 p-0" data-bs-toggle="tooltip" title="e-mail vendeur"> {{ consultation.candidate.user.email }} </p>
                                            </div>

                                    </div>
                                    {# ------------------ #}

                                    {#  Candidat & Prime/Revenu col #}
                                    <div class="vstack align-items-center gap-4 m-1">
                                        <div class="candidat-container">
                                            <p class="text-black  m-0 p-0 fs-5">Candidat :</p>
                                            <p class="text-black m-0 p-0" data-bs-toggle="tooltip" title="Candidat"> {{ consultation.candidate.firstName }} {{ consultation.candidate.lastName}}  </p>
                                            <p class="text-muted text-center"> {{ consultation.candidate.email }}</p>
                                        </div>
                                        <div class="vstack">
                                            <div class="prix-fiche-container hstack justify-content-center gap-1">
                                                <p class="text-black text-center m-0 p-0" data-bs-toggle="tooltip" title="Prime">Prix de vente de la fiche : </p>
                                                <p class="text-center m-0 p-0">{{ consultation.candidate.prixFiche }}</p>
                                                <i class="bi bi-currency-euro fs-6"></i>

                                            </div>
                                            <div class="com-container hstack justify-content-center gap-1">
                                                <p class="text-black text-center m-0 p-0" data-bs-toggle="tooltip" title="Prime">Commission Afternoon : </p>
                                                <p class="text-center m-0 p-0">{{ consultation.candidate.prime }}</p>
                                                <i class="bi bi-currency-euro fs-6"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {# ------------------ #}

                                    {#  Dates col #}
                                    <div class="dates vstack gap-2 justify-content-around">
                                        <div class="consult-col">
                                            <p class="text-black text-center m-0 p-0">Date de consultation :</p>
                                            <p class="text-black text-center m-0 p-0" data-bs-toggle="tooltip" title="Date de consultation"> {{ consultation.createdAt|date('d-m-Y') }} </p>
                                        </div>
                                        <div class="consult-col">
                                            <p class="text-black text-center m-0 p-0">Date de relance :</p>
                                            <p class="text-black text-center m-0 p-0" data-bs-toggle="tooltip" title="Date de relance"> {{ consultation.relanceDate|date('d-m-Y') }} </p>
                                        </div>
                                    </div>
                                    {# ------------------ #}

                                    {# Delete consultation col #}
                                    <div class="remove-consultation vstack align-items-end col">
                                        <a data-confirm href="{{ path('app_sharingboard_delete', {id: consultation.id }) }}">
                                            <i class="bi bi-x-square"></i>
                                        </a>
                                    </div>
                                    {# ------------------ #}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
