{% extends 'layout-3cols.html.twig' %}

{% block title %}New Season{% endblock %}

{% block middleBLock %}
    <h1>Modifier le profil admin</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('account_admin') }}">Annuler</a>

    <div>
        <p>Total des fiches créées</p>
        <p>Nombre de fiches créées à régler</p>
    </div>

    <div>
        {# <a href="{{ path('#') }}">Changer le mot de passe</a>
        <a href="{{ path('#') }}">Supprimer le compte</a> #}
    </div>


{% endblock %}
