{% extends 'layout-3cols.html.twig' %}

{% block title %}Modifier un admin{% endblock %}

{% block middleBLock %}
    <h1>Modifier le profil admin</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
        <p>Total des fiches créées</p>
        <p>Nombre de fiches créées à régler</p>
    </div>

    <div class="d-flex hstack justify-content-around">
        <a href="{{ path('account_admin') }}">Annuler</a>

        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>

    <div class="d-flex hstack mt-3 justify-content-center">
        <a href="{{ path('account_admin') }}">Supprimer le compte</a>
    </div>


{% endblock %}
