{% extends 'layout-3cols.html.twig' %}

{% block title %}New Season{% endblock %}

{% block middleBLock %}
    <h1>Nouveau profil admin</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('account_admin') }}">Annuler</a>
{% endblock %}
