<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}

        <title>{% block title %}Afternoon{% endblock %}</title>

    </head>
    <body>
        {% block header %}
            <header class="mb-5">
                {%  include('Components/_navbar.html.twig') %}
            </header>
        {% endblock %}
        {% set flashMessages = app.flashes %}
        {% if flashMessages %}
            <div class="container">
                {% for label, messages in flashMessages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}
            <div class="container">
                {% if block('h1') is defined %}
                    <h1 class="mb-5">{{ block('h1') }}</h1>
                {% endif %}
                <div class="row">
                    <div class="row-col col-1">
                        {% block leftContent %}{% endblock %}
                    </div>
                    <div class="row-col col">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="row-col col-1">
                        {% block rightContent %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        <script>
            // Demande une confirmation pour suivre le lien s'il a une propriété data-confirm
            const confirmLinks = document.querySelectorAll('[data-confirm]');
            confirmLinks.forEach(function (elem) {
                elem.addEventListener('click', function(e) {
                    if (!confirm('Confirmer ?')) {
                        e.preventDefault();
                    }
                });
            });
        </script>
    </body>

</html>
