<nav class="nav-afternoon navbar navbar-expand-lg border-bottom">
    <div class="container">
        <a class="navbar-brand link-light" href="/">Afternoon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ms-auto navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('app_dashboard_index') }}" class="nav-link link-light">Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_sharingboard_index') }}" class="nav-link link-light">Suivi transactionnel</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('candidate_index') }}" class="nav-link link-light">Dépots</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('account_admin') }}" class="nav-link link-light">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="btn btn-afternoon btn-outline-white nav-link link-light">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
