{% extends 'base.html.twig' %}

{% block title %}Liste des dépôts de CV{% endblock %}

{% block body %}
    <h1>Dépôt Candidat</h1>
    <table class="table table-hover">
        </thead>
    {% for candidate in candidates %}
        <tbody>
            <td>
                Fiche créée le {{ candidate.createdAt.format('d/m/Y') }} <br/>
                    Par {{ candidate.user.firstname }} {{ candidate.user.lastname }} de {{ candidate.user.compagny }}
            </td>
            <td>
                <a href="/form/CV/{{ candidate.id }}"> <img width="60px" height="90px" src={{ candidate.curiculumVitae }}/> </a>
            </td>
        </tbody>
    {% endfor %}
    </table>
{% endblock %}
