{% extends 'base.html.twig' %}

{% block title %}Dépôt Candidat{% endblock %}
{% block h1 %}Dépôt Candidat{% endblock %}

{% block content %}
    <table class="table table-hover">
        {% for candidate in candidates %}
            <tr>
                <td>
                    Fiche créée le {{ candidate.createdAt.format('d/m/Y') }} <br/>
                        Par {{ candidate.user.firstname }} {{ candidate.user.lastname }} de {{ candidate.user.compagny }}
                </td>
                <td>
                    <a href="{{ path('candidate_CV', {id: candidate.id}) }}"> <img width="60px" height="90px" src={{ candidate.curiculumVitae }}/> </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
