{% extends 'base.html.twig' %}

{% block title %}Dépôt Candidat{% endblock %}
{% block h1 %}Dépôt Candidat{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        {% for candidate in candidates %}
            <tr>
                <td>
                    Fiche créée le {{ candidate.createdAt.format('d/m/Y') }} <br/>
                        Par {{ candidate.user.firstname }} {{ candidate.user.lastname }} de {{ candidate.user.compagny }}
                </td>
                <td>

                    <a class="btn btn-afternoon btn-outline-light link-white" href="{{ path('candidate_CV', {id: candidate.id}) }}">CV</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
